<div style="width: 100%; background-color: #f4f4f4; padding: 20px 0; font-family: sans-serif;">
  <div style="max-width: 600px; margin: auto; background-color: #ffffff;">
    <%= render "partials/email_header" %>

    <div style="padding: 24px;">
      <h4>Hi <%= @teacher.first_name %>,</h4>

      <p>Your <%= @matching.instrument %> lesson with <%= @student.full_name %> has been rescheduled to <strong><%= @time %></strong>.</p>

      <p>If this is not correct, please contact your student <%= @student.full_name %> at <%= @student.student_phone %>, or <%= @student.guardian_first_name %>, their guardian, at <%= @student.guardian_phone %>.</p>

      <p>Sincereley,</p>
      <h4>The Forte Team</h4>
    </div>
  </div>
</div>
