<div style="width: 100%; background-color: #f4f4f4; padding: 20px 0; font-family: sans-serif;">
  <div style="max-width: 600px; margin: auto; background-color: #ffffff;">
    <%= render "partials/email_header" %>

    <div style="padding: 24px;">
      <h4>Hi <%= @student.first_name %>,</h4>

      <p>Your <%= @matching.instrument %> lesson with <%= @teacher.full_name %> has been rescheduled to <strong><%= @time %></strong>.</p>

      <p>If this is not correct, please contact your teacher <%= @teacher.full_name %> at <%= @teacher.phone %>.</p>

      <p>Sincereley,</p>
      <h4>The Forte Team</h4>
    </div>
  </div>
</div>
