<!DOCTYPE html>
<html>
<head>
  <title>Forte</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://js.stripe.com/v1/", type: 'text/javascript' %>
  <%= javascript_tag "Stripe.setPublishableKey('#{Rails.configuration.stripe[:publishable_key]}');", type: 'text/javascript' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900" />
  <%= favicon_link_tag 'favicon/favicon.ico' %>
  <meta name="viewport" content="width=device-width, intial-scale=1">
</head>
<body>

<%= yield %>

</body>
</html>
